


<div class="container">
   <div class="row">
       <div class="col-lg-12">
         <div class="bag jumbotron" alt="Responsive image">
          <div class="text-center">
	         <h1>Nikhil Agro </h1>
	         <h4>“Eat Clean And Green. Eat Organic.”<br>“Farmer: We Feed The World.”</h4>
          </div>
          </div>
       </div>
   </div>

   
 <div class="row">
   <div class="col-sm-12">
    <div class="card text-white bg-secondary">
     <div class="card-header">
        Nikhil Agro Found Some Issues 
     </div>
     <div class="card-body-one">
          <h5 class="card-title">About Farming Issues?</h5>
          <p class="card-text-one">
          <ol type="A">
           <li>
             Land conversion and habitat loss.
           </li>  
           <li>
             Wasteful water consumption.
           </li>
           <li>  
             Soil erosion and degradation.
           </li>
           <li>  
             Pollution.
           </li>
           <li>  
             Climate change.
           </li>
           <li>  
             Genetic erosion.
           </li>  
         </ol>  </p>   
     </div>
   </div>
   </div>


 
   <div class="col-sm-6">
    <div class="card text-black">
     <div class="card-header">
        Nikhil Agro Found Some Solution.
     </div>
     <div class="card-body-two">
          <h5 class="card-title">About Farming Issues?</h5>
          <p class="card-text"><ol type="A">
           <li>
             1. Create protected lands.<p>In Costa Rica, more than one-quarter of its national territory has been listed as protected lands. This has been done in order to preserve the natural habitats within the nation’s borders so biodiversity levels can continue to exist.</p>
           </li>  
           <li>
              2. Offer land management solutions.<p>Zoning can also be an effective method of land management. This is because zoning dictates specifically how a certain area of land can be used. We often think of zoning as being residential, commercial, or industrial, but the creation of a National Park, State Park, or similar reserve is also a form of zoning that can prevent habitat destruction.</p>
           </li>
           <li>  
             3. Monitor and test water quality.<p>Even when the physical structure of a habitat is being preserved, the habitat may be being destroyed from within. This is due to the quality of water that is available to those who call the area home. By monitoring water quality levels, performing regular sampling and testing, and then working to improve damaged areas, a habitat can begin the journey toward recovery.</p>
           </li>
         </ol>   
     </div>
   </div>
   </div>
   <div class="col-sm-6">
    <div class="card text-black">
     <div class="card-header">
        Nikhil Agro Found Some Solution.
     </div>
     <div class="card-body-three">
          <h5 class="card-title">About Farming Issues?</h5>
          <p class="card-text"><ol type="A">
           <li>
              4. Publication of habitat loss.
               <p> For many people, the idea of habitat loss is one that does not enter their mind unless it affects them personally in some way. Through journalistic activities that report on habitat destruction, a greater public awareness of the issues being faced can be obtained. Through greater awareness comes more focused actions to preserve a habitat so it won’t be destroyed.</p>
           </li>  
           <li>
             5. Manage existing lands in a proper way.
            <p> A good example of this comes from the logging industry. In the past, clearcutting was considered a viable solution to the commercial need for wood. The only problem was that clearcutting altered the habitat in many ways, such as through soil erosion, and it could take up to 50 years to restore the land. By using forestry management techniques, local habitats could still be protected while commercial needs were still met.</p>

           </li>
           <li>  
             6. Only use what is needed.
              <p>The primary reason why habitats are destroyed is because we are consuming resources. By limiting waste within our resource chain, we create a similar limitation in the area of habitat destruction.
              When we focus on education and personal action, then we have effective solutions to habitat destruction that can create a meaningful impact on local, national, and global scales. Sometimes helping a habitat may be as simple as turning off a light. It might also mean setting aside lands that are 100% protected from exploitation. Our planet is diverse. These steps can help us make sure it stays that way.</p>
           </li>
             
         </ol>   
     </div>
   </div>
   </div>
 </div>
</div>

 

